# Node & Firebase
functions/node_modules/
functions/lib/
functions/.env
functions/.env.local
functions/.env.*
functions/manifest_temp/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log

# Flutter & Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.pub-cache/
mobile/.pub/

# OS and IDE files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.iml

# Key & Secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
google-services.json
GoogleService-Info.plist

gdrive-key.json
